/* Globals */

body {
  font-size: 15px;
  margin: 0;
}

h1 {
  padding-top: 10px;
}

div {
  /* padding-bottom: 30px; */
}

h2 {
  font-size: 24px;
}

.clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

.container{
  width: 100%;
  margin: auto;
}

header{
  border: 2px solid black;
  height: 200px;
  margin: 1%;
}


